@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;


@include pc {
    .u-sp {
        display: none !important;
    }
}

@include sp {
    .u-pc {
        display: none !important;
    }
}

.u-scroll-show {
  // 初期状態（非表示）
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

.u-scroll-show.active {
  // 表示状態
  opacity: 1;
  pointer-events: auto;
}