@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-contact-send
// ==========================================================================

.p-contact-send__area {
    padding-block: rem(68) rem(90);
    @include sp {
        padding-block: rem(47) rem(50);
    }
}

.p-contact-send__text {
    width: 100%;
    text-align: center;
    font-size: rem(18);
    line-height: calc(30 / 18);
    @include sp {
        text-align: left;
        font-size: rem(16);
        line-height: calc(30 / 16);
    }
}


.p-contact-send__btnarea {
    display: flex;
    justify-content: center;
    margin-top: rem(40);
}

.p-contact-send__btn {
    width: rem(250);
    height: rem(50);
    font-size: rem(25);
    line-height: calc(33 / 25);
    @include sp {
        width: rem(335);
        font-size: rem(20);
        line-height: calc(26 / 20);
    }
}