@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;



// ==========================================================================
// p-footer
// ==========================================================================

.p-footer {
    background-color: $main-color;
    color: $font-color2;
}

.p-footer__logo {
    display: block;
    margin-top: rem(12);
    margin-inline: auto;
    width: rem(52);
    padding: rem(10);
    cursor: pointer;
    transition: all .3s;
    @include sp {
        margin-top: rem(9);
    }
    &:hover {
        opacity: 0.7;
    }
}

.p-footer__copyright {
    margin-top: rem(13);
    margin-bottom: rem(-6);
    margin-inline: auto;
    text-align: center;
    font-size: rem(15);
    line-height: calc(33 / 15);
    @include sp {
        margin-top:  rem(19);
        margin-bottom: 0;
        line-height: calc(20 / 15);
    }
}

.p-footer__snsbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
        margin-top: rem(10);
    }
}

.p-footer__snsbtn a {
    display: block;
    padding: rem(6);
    transition: all 0.3s ease;
    cursor: pointer;
    @include sp {
        padding: rem(6);
    }
    &:hover {
        opacity: 0.7;
    }
}

// ==========================================================================
// p-footer-nav
// ==========================================================================

.p-footer-nav {
    display: flex;
    justify-content: center;
}

.p-footer-nav__lists {
    display: flex;
    column-gap: rem(12);
    @include sp {
        column-gap: rem(9);
    }
}

.p-footer-nav__list a {
   font-size: rem(17);
   line-height: calc(33 / 17);
   font-weight: 600; 
   padding: rem(10);
   transition: all 0.3s ease;
   cursor: pointer;
   &:hover {
    opacity: 0.7;
   }
}

