@use '../foundation/variable' as *;
@use '../foundation/function' as *; 
@use '../foundation/mixin' as *;

.l-footer {
    padding-block: rem(44) rem(42);
    @include sp {
        padding-block: rem(44) rem(45);
    }
}


.l-footer-nav {
    display: flex;
    justify-content: center;
}

.l-footer-nav__lists {
    display: flex;
    column-gap: rem(12);
    @include sp {
        column-gap: rem(9);
    }
}

.l-footer-nav__list a {
   font-size: rem(17);
   line-height: calc(33 / 17);
   font-weight: 600; 
   padding: rem(10);
   transition: all .4s;
   cursor: pointer;
   &:hover {
    opacity: 0.7;
   }
}

.l-footer__logo {
    display: block;
    margin-top: rem(12);
    margin-inline: auto;
    width: rem(52);
    padding: rem(10);
    cursor: pointer;
    transition: all .4s;
    @include sp {
        margin-top: rem(9);
    }
    &:hover {
        opacity: 0.7;
    }
}

.l-footer__copyright {
    margin-top: rem(13);
    margin-inline: auto;
    text-align: center;
    font-size: rem(15);
    line-height: calc(33 / 15);
    @include sp {
        margin-top:  rem(19);
        line-height: calc(20 / 15);
    }
}

.l-footer__snsbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
        margin-top: rem(10);
    }
}

.l-footer__snsbtn a {
    display: inline-block;
    padding: 0 rem(6) rem(6) rem(6);
    transition: all .4s;
    cursor: pointer;
    @include sp {
        padding: rem(6);
    }
    &:hover {
        opacity: 0.7;
    }
}